@import "./node_modules/bootstrap-less/bootstrap/bootstrap.less";
@import "_variables.less";



// Media query variables.
@tablet:  ~"screen and (min-width: @{screen-sm-min})";
@normal:  ~"screen and (min-width: @{screen-md-min})";
@wide:    ~"screen and (min-width: @{screen-lg-min})";

//*{outline: 1px solid red;}
html {
  position: relative;
  min-height: 100%;
  border:30px solid #fff;
}
body{
      background-size: cover;
    background-position: center;
    border: 30px solid #fff;
    margin: -30px;
}
.wrapper{
  overflow: hidden;
  position: relative;
}
.bg-image {
  background-size: cover;
  display: block;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100vh;
  width:100%;
  left: 0;
  top:0;
  position: fixed;
  right: 0;
  z-index: -1;

} 

.container{
  &.main{  
    //padding-bottom:4em;
    padding-top:60px;
    //background-color: rgba(255,255,255,.4);
    height: 100%;
    max-width: 100%;
    text-align: center;
    overflow-y: auto;
  }
}
.container.main{
background: rgba(169,52,247,1);
background: -moz-linear-gradient(left, rgba(169,52,247,0.4) 0%, rgba(0,255,255,0.36) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,52,247,0.4)), color-stop(100%, rgba(0,255,255,0.36)));
background: -webkit-linear-gradient(left, rgba(169,52,247,0.4) 0%, rgba(0,255,255,0.36) 100%);
background: -o-linear-gradient(left, rgba(169,52,247,0.4) 0%, rgba(0,255,255,0.36) 100%);
background: -ms-linear-gradient(left, rgba(169,52,247,0.4) 0%, rgba(0,255,255,0.36) 100%);
background: linear-gradient(to right, rgba(169,52,247,0.4) 0%, rgba(0,255,255,0.36) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a934f7', endColorstr='#00ffff', GradientType=1 );

}
//header 
.page-header{
  z-index: 9;
  padding-top:2em;
  padding-bottom: 2em;
}

.logo-wrapper{
  padding-bottom: 2em;
  img.logo{
  }
  h1{
    position: relative;
    top:8px;
    clear:none;
    padding-left:.2em;
    display: inline-block;
  }
}
.out-links{
}
.main-content{

  display: table;
    vertical-align: middle;
    height: 100%;
    margin:auto auto;
}
body {
  /* Margin bottom by footer height */
 // margin-bottom: 60px;
 // background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center;

}


//nav
#navbar{
  img{
    max-width: 30px;
    height:auto!importnat;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 7px;
    
  }
}
.navbar{
  margin-bottom: 0;
  background: transparent;
  border:0;
  display:none;
  @media @tablet{
    display:block;
  }
  *{
    color:#fff!important;

  }
  .inner{
    padding:50px;
  }
  
}

/*
 * content
 */
 ul.tools{
  padding-top: 1em;
  list-style: none;
  padding: 0 0 0 0;
  clear:both;
  display: table-cell;
    vertical-align: middle;
    height: 100%;
    position: relative;
  li{
    .make-xs-column(6);
    .make-sm-column(2);
    margin-bottom: 1em;
    a{
      padding:1em;
      cursor: pointer;
      display: block;
      font-size:@font-size-h4;
      text-align: center;
      color: #fff;

      @media @tablet{
        padding: 10px;
      }
      display: block;
      width: 100%;
      text-align: center;
      img{
        max-width: 50%;
        clear:both;
        display: block;
        margin:auto auto 1em auto;
        @media @tablet{
          max-width: 60%;
        }
        height: auto;
      }
    }
  }
 }

.footer {
  position: absolute;
  text-align: center;
  bottom: 60px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  left:0;
 // background-color: #f5f5f5;
  color: #fff!important;
  .text-muted{
    color: #fff!important;
  }
  a{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1200px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.clocks {
  margin-top: 2em;
  color:#fff;
  .clock {
    text-align: center;
    font-size:1.3em;
    .country {
    }
  }
}
ul.central{
  text-align: center;
  list-style: none!important;
  li{
    @media @normal{
      display: inline-block;
      float: none;
    }
  }
}